<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
  <title>샘플폼</title>

  <!-- 부트스트랩 -->

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src="js/sha256.js"></script>
  <script src="js/util.js"></script>
  <script src="js/base64.js"></script>
  <script src="js/loginform.js"></script>


</head>


<body ng-app="myApp" ng-controller="userCtrl" ng-init='bodyInit()'>

  <script type="text/javascript">
    angular.module('myApp', []).controller('userCtrl', ['$scope', '$window', '$http', mainController]);


     function checkLoginState() {
       FB.getLoginStatus(window.scope.statusChangeCallback);
     }

     window.fbAsyncInit = function() {
   	    FB.init({
   	      //appId      : '171344269971521',
   	      appId      : '171344269971521',
   	      xfbml      : true,
   	      version    : 'v2.7'
   	    });
   	  };



     // Load the SDK asynchronously
      // (function(d, s, id){
      //   var js, fjs = d.getElementsByTagName(s)[0];
      //   if (d.getElementById(id)) {return;}
      //   js = d.createElement(s); js.id = id;
      //   js.src = '//connect.facebook.net/en_US/sdk.js';
      //   fjs.parentNode.insertBefore(js, fjs);
      // }(document, 'script', 'facebook-jssdk'));

     // Here we run a very simple test of the Graph API after login is
     // successful.  See statusChangeCallback() for when this call is made.




    $(function() {
      console.log('ready 1');

      var map_container = {
        Header: "",
        Discription: "이 페이지는 개인 정보를 저장하는 페이지 이다.",
        Links: [],


      };





    setup_nav('#navi', '', map_container, '#nav_contents');



    });
  </script>

  <div class="col-md-6" id='div_list' >

    <!-- <button class="w3-btn w3-green w3-ripple"  ng-click="test()" >&#10004; TEST</button> -->




    <div id='status'>
    </div>

    <form ng-show="shwoContents" class="w3-container" id="div_input" name="div_input">
      <h2>로그인</h2>
      <p>
      힌트 키: {{pre_key}}
      </p>

      <label>ID</label>
      <input class="w3-input w3-border" type="text" ng-model="id" >
      <br>

      <label>패스워드</label>
      <input class="w3-input w3-border" type="password" ng-model="pwd">
      <br>

      <label>힌트값</label>
      <input class="w3-input w3-border" type="password" ng-model="hint">
      <br>

      <br>
      <!-- <button class="w3-btn w3-green w3-ripple" ng-click="modifyChip()" ng-disabled="error || incomplete">&#10004; Save Changes</button> -->
      <button class="w3-btn w3-green w3-ripple"  ng-click="login()">&#10004; 로그인</button>
      <br>
      <fb:login-button scope='public_profile,email' onlogin='checkLoginState();'>
      </fb:login-button>
      <!-- <button class="w3-btn w3-green w3-ripple"  ng-click="cancel()">&#10004; 취소</button> -->
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
      <br>



    </form>

      <div class="alert alert-success" ng-hide="msg == ''">
        <strong>Warning!</strong> {{msg}}
      </div>

      <div class="alert alert-danger" ng-hide="warning == ''">
        <strong>Warning!</strong> {{warning}}
      </div>



  </div>


</body>

</html>
