@CHARSET "UTF-8";
.board{
	width:100%;
	table-layout: fixed;
}
.firstCol{
	width:100%;
	table-layout: fixed;
}

h1 {
	color: darkgreen;
	margin-left: 100px;
}


input {
	background-color: #ffffff
}

input[type=\"text\"], textarea {
	background-color: #ffffff;
	cols="300";
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #ff0000;
}

ul {
	list-style-type: none;
	padding-right: 20px;
	padding-left: 20px;
}



li {
	display: inline;
	padding: 0 10px;
	border-left: 1px solid #999;
}

.st {
	display: inline;
	padding: 0 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

